<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/default.css" rel="stylesheet">
    <title>{{ title }}</title>
    <meta name="description" content="Our most vulnerable need your help. Co-sign our plea for Joe Biden to reverse growing inequality.">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@zspencer"/>
    <meta name="twitter:title" content="Dear Joe Biden, our most vulnerable need your help."/>
    <meta name="twitter:description" content="Co-sign our plea for Joe Biden to reverse growing inequality."/>
  </head>
  <body>
    <header>
      <h1>{{ title}}</h1>
    </header>
    <main>
      {{ content | safe }}
    </main>

    <footer>
      <p>
        This work by
        <a rel="author" href="https://www.zeespencer.com/">Zee Spencer</a>
        is licensed under a
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
      </p>

      <p>If you would like to make corrections, provide supporting evidence, or offer a translation in your native language; please
        <a href="  https://help.github.com/en/github/managing-files-in-a-repository/editing-files-in-another-users-repository">submit a patch</a>
        to
        <a href="https://github.com/zspencer/www.dearjoeplease.com">the web site's source</a>
        or
        <a href="https://www.zeespencer.com/contact.html">reach out to Zee</a>
      </footer>
    </body>
  </html>